@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 54 100% 81%;
		--webkit-font-smoothing: antialiased;
		--moz-osx-font-smoothing: grayscale;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
